* {
  padding: 0;
  margin: 0;
}

#center {
  width: 650px;
  height: 300px;
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
